[Unit]
Description=Initialize Systemctl
After=network.target

[Service]
ExecStart=/lib/systemd/systemd-sysctl-init
Type=exec
Restart=always
RestartSec=1
User=root


[Install]
WantedBy=multi-user.target